.container-flex{
    display: flex;
}

.container-grid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    /* gap: 20px */
    column-gap: 20px;
    row-gap: 10px;
}

.bg-red{
    background-color: red;
}

.bg-yellow{
    background-color: yellow;
}

.bg-green{
    background-color: green;
}

.bg-blue{
    background-color: blue;
}

.container-grid-2{
    width: 250px;
    height: 60px;
    border: 2px solid black;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 3fr ;
    margin: 20px auto;
    border-radius: 10px;
}

.wrap-3{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;    
    grid-template-areas: 
        "footer shell"
        "hero shell";
    gap: 10px;
    height: 400px;
}

.shell{
   grid-area: shell;
   display: flex;           
   justify-content: center; 
   align-items: center;
   background-color: lightblue;
   border: 1px solid;
   
}

.footer{
    grid-area:footer;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    grid-area:hero;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}